<%= render 'shared/header' %>

<main class="py-10 max-w-7xl mx-auto px-4 sm:px-8">
    <%= form_for(@profile, builder: TailwindInputBuilder) do |f| %>
        <% data = { url: root_url+ "profiles/" + (@profile.id).to_s } %>
        <%= javascript_tag do %>
        var data = <%= data.to_json.html_safe %>
        <% end %>
        <div class="flex justify-end items-center w-full mb-4">
            <div>
                <%= button_tag "Copy link", :type => "button", :id => "clipboard-btn", :data => {:clipboard_action => "copy", :clipboard_target => "#brn"}, class: "flex-shrink-0 px-4 py-2 shadow-md hover:shadow-none text-purple-700 border-2 border-grey-700 hover:border-grey-700 bg-white hover:bg-white focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %> 
                <%= button_tag "Preview", :id => "preview-btn", class: "flex-shrink-0 px-4 py-2 shadow-md hover:shadow-none text-purple-700 border-2 border-grey-700 hover:border-grey-700 bg-white hover:bg-white focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %> 
                <%= f.submit "Save", class: "flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-green-600 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:ring-offset-green-200" %><br/>
            </div>
        </div>

        <%= render 'shared/edit_section', title: "Profile details" do %>
            <%= f.text_field :name, value: @profile.name || current_user.name, placeholder: "Name" %><br/>
            <div class="flex items-center my-4">
            <%# button here %>
            
                <button type="file" class="mr-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"/>
                            <path style="fill: white" d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                            <rect fill="#ffffff"  x="11" y="2" width="2" height="14" rx="1"/>
                            <path style="fill: white" d="M12.0362375,3.37797611 L7.70710678,7.70710678 C7.31658249,8.09763107 6.68341751,8.09763107 6.29289322,7.70710678 C5.90236893,7.31658249 5.90236893,6.68341751 6.29289322,6.29289322 L11.2928932,1.29289322 C11.6689749,0.916811528 12.2736364,0.900910387 12.6689647,1.25670585 L17.6689647,5.75670585 C18.0794748,6.12616487 18.1127532,6.75845471 17.7432941,7.16896473 C17.3738351,7.57947475 16.7415453,7.61275317 16.3310353,7.24329415 L12.0362375,3.37797611 Z" />
                        </g>
                    </svg>
                    <%# Upload Image %>
                    <%# <%= f.file_field, :image, accept: 'image/png, image/jpeg, image/gif', class: "hidden"%> 
                    <%= f.file_field :image, accept: 'image/png, image/jpeg, image/gif', class: "content-['Upload Image']" %>
                </button>
            
                <%= image_tag gravatar_url_for(current_user), 
                    id: "image-preview", style:"max-width:200px"
                %>
            </div>
            <%= f.text_field :job_title, value: @profile.job_title, placeholder: "Job title" %><br/>
            <%= f.text_field :total_experience, value: @profile.total_experience, placeholder: "Total experience" %><br/>
            <%= f.text_area :overview, value: @profile.overview, placeholder: "Profile overview", required: true %><br/>
            <p>Career Highlights</p>
            <%= f.text_field :career_highlights, value: concat_str_with_comma(@profile.career_highlights), placeholder: "Career highlights" %>
            <%= render 'shared/multiple_inputs_message' %>
            
            <p>Primary Skills</p>
            <%= f.text_field :primary_skills, value: concat_str_with_comma(@profile.primary_skills), placeholder: "Primary skills" %>
            <%= render 'shared/multiple_inputs_message' %>
            
            <p>Secondary Skills</p>
            <%= f.text_field :secondary_skills, value: concat_str_with_comma(@profile.secondary_skills), placeholder: "Secondary skills" %>
            <%= render 'shared/multiple_inputs_message' %>
            
        <% end %>

        <%= render 'shared/edit_section', title: "Experience" do %>
            <%= f.fields_for :experiences do |experience| %>
                <%= render 'shared/input/experience', experience: experience %>
            <% end %><br />
            <%= render 'shared/input/buttons/add', label: "+ Add Experience", path: "/experiences/new" %>
        <% end %>

        <%= render 'shared/edit_section', title: "Education" do %>
            <%= f.fields_for :educations do |education| %>
                <%= render 'shared/input/education', education: education %>
            <% end %><br />
            <%= render 'shared/input/buttons/add', label: "+ Add Education", path: "/educations/new" %>
        <% end %>
        <%= javascript_pack_tag 'edit'%>
    <% end %>

</main>